In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
PS4csv = "PS4_GamesSales.csv"
PS4_data_df = pd.read_csv(PS4csv)

In [25]:
NewPS4_data_df = PS4_data_df[['Game', 'Year', 'Genre', 'Global']].copy()
NewPS4_data_df['Platform'] = "PS4"
RenamedPS4_data_df = NewPS4_data_df.rename(columns={'Game': 'game', 'Year':'year', 'Genre':'genre','Global':'ps4_global','Platform':'platform'})

In [5]:
Xboxcsv = "XboxOne_GameSales.csv"
Xbox_data_df = pd.read_csv(Xboxcsv)

In [21]:
NewXbox_data_df = Xbox_data_df[['Game', 'Year', 'Genre', 'Global']].copy()
NewXbox_data_df['Platform'] = "Xbox_One"
RenamedXbox_data_df = NewXbox_data_df.rename(columns={'Game': 'game', 'Year':'year', 'Genre':'genre','Global':'xbox_global', 'Platform':'platform'})

In [26]:
RenamedPS4_data_df.dropna(how='any', inplace = True)
RenamedPS4_data_df

                           game    year             genre  ps4_global platform
0            Grand Theft Auto V  2014.0            Action       19.39      PS4
1     Call of Duty: Black Ops 3  2015.0           Shooter       15.09      PS4
2         Red Dead Redemption 2  2018.0  Action-Adventure       13.94      PS4
3            Call of Duty: WWII  2017.0           Shooter       13.40      PS4
4                       FIFA 18  2017.0            Sports       11.80      PS4
...                         ...     ...               ...         ...      ...
1025                  Biomutant  2019.0            Action        0.00      PS4
1026                    de Blob  2017.0          Platform        0.00      PS4
1027           Chaos on Deponia  2017.0         Adventure        0.00      PS4
1028                  Code Vein  2018.0            Action        0.00      PS4
1030   Radial G Racing Revolved  2017.0            Racing        0.00      PS4

[825 rows x 5 columns]

In [24]:
RenamedXbox_data_df.dropna(how='any', inplace = True)
RenamedXbox_data_df

,game,year,genre,xbox_global,platform
0,Grand Theft Auto V,2014.0,Action,8.72,Xbox_One
1,Call of Duty: Black Ops 3,2015.0,Shooter,7.37,Xbox_One
2,Call of Duty: WWII,2017.0,Shooter,6.23,Xbox_One
3,Red Dead Redemption 2,2018.0,Action-Adventure,5.77,Xbox_One
4,MineCraft,2014.0,Misc,5.43,Xbox_One
...,...,...,...,...,...
608,Biomutant,2018.0,Action,0.00,Xbox_One
609,Biomutant,2019.0,Action,0.00,Xbox_One
610,de Blob,2017.0,Platform,0.00,Xbox_One
611,Outcast: Second Contact,2017.0,Adventure,0.00,Xbox_One
612,Code Vein,2019.0,Action,0.00,Xbox_One

In [18]:
rds_connection_string = "admin1:12345@localhost:5432/ETLProject"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [19]:
engine.table_names()

['ps4games', 'xboxgames']

In [28]:
RenamedPS4_data_df.to_sql(name='ps4games', con=engine, if_exists='append', index=False)

In [30]:
RenamedXbox_data_df.to_sql(name='xboxgames', con=engine, if_exists='append', index=False)